body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("https://static.wixstatic.com/media/0ab8b9_5cd98033d7ab470b834fdbf7009ef80a~mv2_d_2048_1365_s_2.jpg/v1/fill/w_1920,h_1280,al_c,q_85,usm_0.66_1.00_0.01/0ab8b9_5cd98033d7ab470b834fdbf7009ef80a~mv2_d_2048_1365_s_2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 36px;
}

.wrapper {
    margin-left: 250px;
}

.climate-block {
    opacity: 80%;
    height: 600px;
    width: 1100px;
    border-radius: 20px;
    background-color: #bfe4bf;
}

.air-block {
    float: left;
}

.water-block {
    position: fixed;
    bottom: 500px;
    left: 600px;
    float: left;
}

.lights-block {
    position: relative;
    bottom: 500px;
    left: 700px;
}

.climate-icon {
    padding: 5px 5px 5px 5px;
    height: 100px;
    width: 100px;
}